{% extends 'base.html' %}
{% block header %}
  <h1>Scrape Service Create User <h1>
{% endblock header %}
{% block content %}
  <form method="POST" action="{% url 'accounts:create' %}">
    {% csrf_token %}
    <label>ユーザーID</label>
    {{ form.username }}
    {{ form.username.errors }}
    <label>パスワード</label>
    {{ form.password1 }}
    {{ form.password1.errors }}
    <label>パスワード(確認)</label>
    {{ form.password2 }}
    {{ form.password2.errors }}
    <button class="btn btn-primary" type = "submit">登録</button>
  </form>
 {% endblock content %}