{% extends 'base.html' %}
{% block header %}
  <h1>Scrape Service Login <h1>
{% endblock header %}
{% block content %}
{% if form.errors  %}
 <p>ユーザーID, パスワードが一致しません．</p>
{% endif %}
<form method="POST" action="{% url 'accounts:login' %}">
  {% csrf_token %}
  <label>ユーザーID</label>
  {{ form.username }}
  {{ form.username.errors }}
  <label>パスワード</label>
  {{ form.password }}
  {{ form.password.errors }}
  <button class="btn btn-primary" type = "submit">ログイン</button>
</form>
{% endblock content %}